<div class="character-list-item__detail">
  <dt class="character-list-item__title">キャラクター名</dt>
  <dd class="character-list-item__value">{{character.name}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">流派</dt>
  <dd class="character-list-item__value">{{character.ryuha}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">階級</dt>
  <dd class="character-list-item__value">{{character.rank}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">表の顔</dt>
  <dd class="character-list-item__value">{{character.face}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">信念</dt>
  <dd class="character-list-item__value">{{character.belief}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">兵糧丸</dt>
  <dd class="character-list-item__value">{{character.hyorogan}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">神通丸</dt>
  <dd class="character-list-item__value">{{character.jintugan}}</dd>
</div>
<div class="character-list-item__detail">
  <dt class="character-list-item__title">遁甲符</dt>
  <dd class="character-list-item__title">{{character.tonkohu}}</dd>
</div>
