<li>
  <section  class="character-list-item">
    <div class="character-list-item__detail">
      <h1 class="character-list-item__name">{{character.name}}</h1>
      <p class="character-list-item__value">{{character.regulation}}</p>
      <p class="character-list-item__value">{{character.ryuha}}</p>
      <p class="character-list-item__value">{{character.rank}}</p>
      <p class="character-list-item__value">{{character.playerName}}</p>
    </div>
    <div class="character-list-item__icon">
      <img class="character-list-item__icon__image" src="/assets/darts_pictogram.png" alt="image" />
    </div>
  </section>
</li>
