<article class="character-list">
  <h1 class="character-list__title">キャラクター一覧</h1>
  <ul class="character-list__contents">
    <ng-container *ngFor="let character of (characterDetailList$ | async)">
      <ng-shinobi-app-character-list-item class="character-list__wrapper"  [character]="character"></ng-shinobi-app-character-list-item>
    </ng-container>
  </ul>
  <div class="character-list__load-button">
    <ng-shinobi-app-button size="large" type="default" text="もっと見る" [hasBorder]="true" (clicked)="fetchCharacterList()"></ng-shinobi-app-button>
  </div>
</article>
